<html>

<head>
  <title>Jobs</title>
  <%- include('partials/bootstrap') %>
</head>

<body>
  <%- include('partials/navbar') %>
  <h1>Job Page</h1>
  <div class="container">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Rate</th>
          <th scope="col">Income</th>
        </tr>
      </thead>
      <tbody>
        <% jobs.forEach(item => { %>
        <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= item.name %></td>
          <td><%= item.type %></td>
          <td><%= item.rate %></td>
          <td><%= item.income %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>

</html>